# This is example configuration for this app. Either copy this manually to .env or use php init.php command
# Yii
YII_DEBUG="true"
YII_ENV="dev"
# Cookies
# !!! insert a secret key in the following (if it is empty) - this is required by cookie validation
COOKIE_VALIDATION_KEY=""
# Cache
CACHE_DRIVER="dummy"
CACHE_DB_TABLE="{{%cache}}"
# Database
DB_DRIVER="mysql"
DB_CHARSET="utf8"
DB_HOST="localhost"
DB_NAME="yii2"
DB_USER="root"
DB_PASS=""
# Mailer
MAILER_DRIVER="file"
SMTP_HOST="localhost"
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_PORT="25"
SMTP_ENCRYPTION=""
# Url
URL_ENABLE_PRETTY="true"
URL_STRICT_PARSING="false"
URL_SHOW_SCRIPT_NAME="false"
# Session
SESSION_DRIVER="file"
SESSION_DB_TABLE="{{%session}}"